<div>
	<h2>Search our boardgames!</h2>
	<input type="text" placeholder="Search" ng-model="searchstring">
	<button ng-click="searchGames()">Go!</button>

	<section ng-repeat="game in foundGames">
		<h3>Name: {{ game.name }}</h3>
		<h4>Description: {{ game.description }}</h4>
		<h4>Number of players:{{ game.players }}</h4>
		<button ng-click="showEditGame(game)">Edit Game</button>
		<div ng-if="editGameVisible===true">
			<section>
				<h3>Name of game</h3>
				<input type="text" autofocus="true" ng-model="game.name">

				<h3>Description of game</h3>
				<input type="text" ng-model="game.description">

				<h3>Number of players for the game</h3>
				<input type="text-box" ng-model="game.players">

				<button ng-click="editGame(game)">Save edits to game</button>
			</section>	
		</div>
		<button ng-click="deleteGame(game)">Delete Game</button>
		<textarea ng-model="game.review"></textarea>
		<div ng-include="'partials/addReviewBtn.html'"></div>
		<section ng-repeat="review in game.reviews">{{review}}</section>
	</section>
</div>