/*general styling*/
body {
	/*#3F90AB*/
	font-family: 'Russo One', sans-serif;
	margin: 0;
	padding: 0;
}	
.dat-view{
	margin-left: 20px
}
/*nav styling*/
.nav-header {
	font-size: 50px;
	display: block;
	text-align: left;
	margin: 0;
	color: #5A2368;
}
nav {	
	padding: 0;
	margin: 0;
	background-color: #3F90AB;
}
nav ul{
	text-align: right;
	padding: 10px;
}
nav li {
	list-style: none;
	display: inline-block;
	border: 4px solid #5AAB3F;
	border-radius: 10%;
	padding: 10px;
	margin: 0 5px;
	background-color: #5AAB3F;
}
nav a:link { 
	color: purple; 
}
nav a:hover{
	color: #99DCF2;
} 

/*searchbar styling*/
.searchbox{
	width: 100%;
	text-align: center;
}
.search-page {

}

/*styling for game results on search page*/

/*styling for edit form*/
.edit-form {

}

/*styling for reviews populated*/
.game-review {

}

/*your reviews styling*/
.your-reviews {

}

/*login page styling*/
.login {

}

/*create game styling*/
.create-game-form {

}

.create-game-btn {

}